body{
    font-family: cursive;
    font-size: 25px;
    background-color: blueviolet;
}

.header_div{
    background-color: rgb(98, 96, 86);
    color: red;
}

.header_div p{
    color: silver;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bolder;
}

.main_div button{
    margin-top: 30px;
    width:130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer { 
    position: fixed; 
    color: #d2ec0b; 
    bottom: 0; 
    width: 100%; 
    font-size: 18px; 
    background-color: #e90a0a; 
    line-height: 3; 
    text-align: center; 
    text-shadow: 5px 5px 5px rgb(151, 149, 149); 
}